body {
  font-family: var(--font-family-primary);
  font-weight: 500;
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-body);
}

.product-card {
  background-color: var(--color-card-background);
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
}

.product-image {
  background-image: url("../images/image-product-mobile.jpg");
  min-height: 240px;
  background-size: cover;
  background-position: top;
}

/* typography */
.sale-price {
  color: var(--color-text-accent);
  font-size: var(--font-size-xl);
  font-family: var(--font-family-secondary);
}
.price {
  color: var(--color-text-body);
  font-size: var(--font-size-sm);
  font-family: var(--font-family-primary);
  text-decoration: line-through;
}

.text-title {
  color: var(--color-text-heading);
  padding-bottom: 16px;
}

.text-accent {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 16px;
}

.content {
  padding: 24px;
}

.display-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* button*/

.btn {
  color: var(--color-button-text);
  background: var(--color-button-background-default);
  border-radius: 8px;
  border: none;
  padding: 15px 0;
  position: relative;
  width: 100%;
  font-size: var(--font-size-md);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  background-color: var(--color-button-background-hover);
}

@media (min-width: 765px) {
  .product-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
